@tailwind base;
@tailwind components;
@tailwind utilities;

.circuit-pattern {
  background-color: #f8fafc;
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 20px 20px;
}